@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

th {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0;
}

header nav {
    display: flex;
    background-color: #000;
    justify-content: space-between;
}

header nav h1 {
    color: #fff;
    padding: 13px;
    font-size: 30px;
}

header nav h1 a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 50px;
}

.state_container h2 {
    display: block;
    font-size: 20px;
}

.state_container {
    width: 50%;
    margin: auto;
}

.foot p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    float: center;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    table {
        width: 90%;
    }

    .foot p {
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        float: center;
        width: 100%;
    }
}